html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
a {
  text-decoration: none;
  color: currentColor;
}
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: 0 auto;
  max-width: 320px;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.section {
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}
.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* -- Header -- */

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1158px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.nav .logo {
  padding: 18px 0;
}
@media screen and (min-width: 768px) {
  .nav .logo {
    margin-right: 120px;
  }
}
@media screen and (min-width: 1158px) {
  .nav .logo {
    margin-right: 76px;
  }
}
.burger-btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  color: #2f2f37;
  background-color: transparent;
  border: none;
}
.burger-btn-icon {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}
.menu,
.address {
  display: none;
}
.menu-link,
.address-link {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.menu-link {
  padding: 24px 0;
}
@media screen and (min-width: 768px) {
  .address {
    display: block;
    font-style: normal;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
@media screen and (min-width: 768px) {
  .address-menu-item:first-child > .address-link {
    padding: 16px 0 6px 0;
  }
  .address-menu-item:last-child > .address-link {
    padding: 6px 0 16px 0;
  }
}
@media screen and (min-width: 1158px) {
  .address-menu-item:first-child > .address-link,
  .address-menu-item:last-child > .address-link {
    padding: 24px 0;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .address-menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
.menu-link,
.text,
.portfolio-overlay-text,
.modal-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}
@media screen and (min-width: 1158px) {
  .text {
    font-weight: 400;
  }
}
.section-title,
.section-list-item-title,
.span-dark,
.menu-link,
.modal-title {
  color: #2e2f42;
}
.menu-link,
.modal-title {
  font-weight: 500;
}
.menu-link:hover,
.menu-link:focus,
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.menu-link.active {
  color: #404bbf;
  position: relative;
}
.menu-link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

/* -- Hero -- */

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/bg_mob@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 72px 0;
}
@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg_mob@2x.jpg);
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg_tab@1x.jpg);
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg_tab@2x.jpg);
  }
}
@media only screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg_desk@1x.jpg);
  }
}
@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg_desk@2x.jpg);
  }
}
.hero-title {
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-button {
  margin: 72px auto 0 auto;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
  .hero-button {
    margin: 36px auto 0 auto;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
  .hero-button {
    margin: 48px auto 0 auto;
  }
}
.hero-button,
.form-btn,
.subscribe-form-btn {
  border: none;
  display: block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button,
.form-btn {
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
}
.hero-button:hover,
.hero-button:focus,
.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}

/* -- Values -- */
.container.values {
  max-width: 1158px;
}
.values-icon-wrapper {
  display: none;
}
@media screen and (min-width: 1158px) {
  .values-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    background-color: #f4f4fd;
  }
}
.section-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.section-list-item-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .section-list {
    flex-direction: row;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .section-list-item {
    width: calc((100% - 24px) / 2);
  }
  .section-list-item-title {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .section-list-item {
    width: calc((100% - 72px) / 4);
  }
  .section-list-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

/* -- Team -- */

.team {
  background-color: #f4f4fd;
}
.section-list.team-list {
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .section-list.team-list {
    row-gap: 64px;
  }
}
.team-item {
  max-width: 264px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-caption {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.section-list-item-content {
  padding: 32px 0px;
}

/* -- Portfolio -- */

.section-list-portfolio {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.section-list-item-portfolio {
  cursor: pointer;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-list-item-portfolio:hover,
.section-list-item-portfolio:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .section-list-portfolio {
    flex-direction: row;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .section-list-item-portfolio {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .section-list-item-portfolio {
    width: calc((100% - 48px) / 3);
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .section-list-portfolio {
    row-gap: 72px;
  }
}
.portfolio-caption {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-card {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-card-top {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay-text {
  color: #f4f4fd;
}
.section-list-item-portfolio:hover .portfolio-overlay,
.section-list-item-portfolio:focus .portfolio-overlay {
  transform: translateY(0);
}
.section-list-item-portfolio img,
.section-list-item img {
  object-fit: cover;
  width: 100%;
}

/*  -- Footer -- */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.footer-content {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    align-items: baseline;
    padding-left: 108px;
  }
  .footer-content {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .footer-content {
    margin-right: 120px;
  }
  .footer .container {
    flex-wrap: nowrap;
    column-gap: 0;
    padding-left: 15px;
  }
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.footer-caption {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .footer-caption {
    text-align: left;
  }
}
.span-light {
  color: #f4f4fd;
}
.team-socials-list,
.footer-socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-socials-list {
  gap: 24px;
}
.footer-socials-list {
  gap: 16px;
}
.team-socials-item,
.footer-socials-item {
  width: 40px;
  height: 40px;
}
.team-socials-link,
.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}
.footer-socials-link:hover,
.footer-socials-link:focus,
.subscribe-form-btn:hover,
.subscribe-form-btn:focus {
  background-color: #31d0aa;
}
.team-socials-icon,
.footer-socials-icon {
  fill: currentColor;
}
@media screen and (min-width: 1158px) {
  .footer-form-wrapper {
    margin-left: auto;
  }
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.subscribe-form-input {
  width: 288px;
  height: 40px;
  outline: transparent;
  background: transparent;
  border: 1px solid #fff;
  opacity: 0.3;
  border-radius: 4px;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .subscribe-form-input {
    width: 264px;
  }
  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
}
.subscribe-form-input::placeholder {
  color: currentColor;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}
.subscribe-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  min-width: 165px;
}
.subscribe-form-icon {
  margin-left: 16px;
  fill: currentColor;
}

/*  -- backdrop-modal --  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 288px;
  max-width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  padding: 72px 16px 24px 16px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
  }
}
.modal-title {
  text-align: center;
  margin-bottom: 16px;
}
.form-label,
.form-textarea,
.form-label-accept {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.form-label-accept {
  display: flex;
  align-items: center;
}
.form-label,
.form-label-accept {
  color: #8e8f99;
}
.form-label {
  display: block;
  margin-bottom: 4px;
}
.form-input-container {
  position: relative;
  color: #2e2f42;
}
.form-field {
  margin-bottom: 8px;
}
.modal-form .form-field:nth-child(4) {
  margin-bottom: 16px;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 11px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-input:focus + .input-icon {
  fill: #4d5ae5;
}
.form-textarea {
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  overflow: hidden;
  resize: none;
  padding: 8px 16px;
}
.form-field-accept {
  margin-bottom: 24px;
}
.form-btn {
  margin: 0 auto;
}
.footer-checkbox-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}
.checkbox-icon-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background-color: transparent;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-checkbox:checked + .form-label-accept .checkbox-icon-span {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  color: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*  -- Mobile menu -- */

.mobile-menu .modal-btn {
  background-color: transparent;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  color: #ffffff;
}
.modal-btn-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 72px 24px 40px 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}
.mobile-menu-link,
.mobile-menu-address-link {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mobile-menu-nav > li:not(:last-child) > .mobile-menu-link {
  padding-bottom: 40px;
}
.mobile-menu-link.active,
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #404bbf;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-contacts {
  font-style: normal;
  margin-bottom: 48px;
}
.mobile-menu-address-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mobile-menu-contacts > li:not(:last-child) > .mobile-menu-address-link {
  padding-bottom: 24px;
}
.mobile-menu-address-link.active,
.mobile-menu-address-link:hover,
.mobile-menu-address-link:focus {
  color: #4d5ae5;
}
.mobile-menu .team-socials-list {
  gap: 40px;
}
